body {
    background-image: url("../docs/bop.jpg");
}

.format {
    padding-top: 10px;
    background-color:#F0F0F2;

}

.a1 {
    width: 50%;
}
.a2{
    width: 100%;
}

.image-size1 {
    width: 100%;
    height: 250px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.Text-format {
    font-weight: bold;
    text-align: justify;
    color: #595736;
}
#Text-format1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #595736;
}
.bac-format {
    background-color:  rgb(253, 253, 253);
}
.in-format{
    align-content:center;
    align-items: center;
}
.table-format{
    text-align: center;
}

#cola { 
    color: rgb(96, 107, 14);
    font-weight: bold;
    

    
} 

.bac-format1 {
    padding-left: 10px;
    padding-right: 10px;
}

#hr1 {
    border: 1px solid #848C45
}

/* hr1 {
    border: 0.5px solid #848C45
} */
 



